<%- include ("./partials/navbar")%>


<div class="container dashboard-container">
    <div class="jumbotron dash" 
    style="box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);">
        <h1 class="display-3">Welcome</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolore aliquid ullam, nemo exercitationem tempora mollitia deserunt esse vero libero, similique iusto vel optio ab quisquam sunt eaque assumenda laborum sequi sint est nostrum ex aspernatur. Natus, quam tenetur? Sunt totam consequatur sed consectetur! Esse quod laudantium, recusandae reprehenderit dolore eveniet atque voluptatum necessitatibus. Beatae explicabo, facilis distinctio natus similique architecto tenetur dolor aspernatur dignissimos nemo laborum quia porro nam facere debitis repudiandae qui minus aut. Facilis animi at temporibus voluptatum fugit ipsa delectus eaque?.</p>
        <hr class="my-2">
        
        <div class="dashboard-buttons">
            <a class="btn btn-primary btn-lg btn-success" href="/auth/addProduct" role="button">Add Product</a>
            <a class="btn btn-primary btn-lg btn-success" href="/auth/products" role="button">Edit Products</a>
            <a class="btn btn-primary btn-lg btn-success logout" href="/logout" method="GET" role="button">Logout</a>
        </div>
    </div>
</div>
