<div class="landing">
    <div class="landing-box">
        <p id="landing-text-lead">Inventory Management System</p>
        <p id="landing-text-second">Welcome to the Inventory Management System. Here, you can browse our products as a customer and display your products as a retailer. The perfect marketplace that needs no introduction! Sign in for full access.</p>

        <div class="sign-buttons">
            <a class="btn btn-primary btn-lg btn-success login-btn" href="/login" method="GET" role="button">Login</a>
            <a class="btn btn-primary btn-lg btn-success register-btn" href="/register" method="GET" role="button">Register</a>
        </div>
    </div>
</div>
